# Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-change-this

# Database
DATABASE_URL=sqlite:///medvault.db

# Storage paths
DICOM_STORAGE_PATH=../sample_data
ML_MODELS_PATH=./app/ml/models